:root {
  /* backgrounds */
  --background-orange: hsl(31, 77%, 52%);
  --background-dark-cyan: hsl(184, 100%, 22%);
  --background-very-dark-cyan: hsl(179, 100%, 13%);

  /* test colouring */
  --transparent-white: hsla(0, 0%, 100%, 0.75); /*for paragraphs */
  --very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

* {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  color: var(--transparent-white);
  line-height: 1.7;
  background-color: var(--very-light-gray);
  min-height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 88px 24px;
}

.card {
  width: 100%;
  padding: 48px;
}

img {
  height: 40px;
  width: 64px;
  margin-bottom: 40px;
}

h1 {
  color: var(--very-light-gray);
  font-family: "Big Shoulders Display", cursive;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 40px;
}

p {
  color: var(--transparent-white);
  margin-bottom: 28px;
}

button {
  padding: 18px 34px;
  border-radius: 30px;
  cursor: pointer;
  border: solid;
}

.sedan {
  background-color: var(--background-orange);
  border-radius: 8px 8px 0 0;
}

.sedan button {
  border-color: var(--background-orange);
  color: var(--background-orange);
}

.suv {
  background-color: var(--background-dark-cyan);
}

.suv button {
  border-color: var(--background-dark-cyan);
  color: var(--background-dark-cyan);
}

.luxury button {
  border-color: var(--background-very-dark-cyan);
  color: var(--background-very-dark-cyan);
}

button:hover {
  color: var(--very-light-gray);
  background-color: transparent;
  border-color: var(--very-light-gray);
}

@media screen and (min-width: 992px) {
  section {
    min-height: 100vh;
    max-width: 900px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  button {
    margin-top: 115px;
  }

  .sedan {
    background-color: var(--background-orange);
    border-radius: 8px 0 0 8px;
  }

  .luxury {
    background-color: var(--background-very-dark-cyan);
    border-radius: 0 8px 8px 0;
  }
}
